{% extends "panel/base.html" %}

{% block header %}
    <h2>Announcements</h2>
{% endblock header %}

{% block content %}
{% for anon in anon_list %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            {{ anon.title }}
        </h3>
        <small>{{ anon.date_added|date:'d M, Y H:i' }}</small>
        <small><a href="{% url 'announcements:edit_anon' anon.id %}">edit</a></small>
    </div>
    <div class="panel-body">
        {{ anon.text|linebreaks }}
        Author: {{ anon.owner }}
    </div>
</div>
{% empty %}
No announcements for now.

  {{ anon.title }}
  {{ anon.text }}
  {{ anon.owner }}
  {{ anon.date_added }}
{% endfor %}
{% endblock content %}