{% extends "panel/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add new announcement</h2>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <form action="{% url 'announcements:new_anon' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Title:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                    {% bootstrap_field form.title %}
                </div>
            </div>
            <div class="form-group">
                <label>Announcement:</label>
                {% bootstrap_field form.text %}
            </div>
            {% buttons %}
            <button name="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
</div>
    {% endif %}
{% endblock content %}