<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">


  <title>Control Panel</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'panel:index' %}">Control Panel</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'panel:index' %}">home</a></li>
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Announcements
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'announcements:all_anon' %}">Read announcements</a></li>
            {% if request.user|has_group:"hi_user" %}
            <li><a href="{% url 'announcements:new_anon' %}">New announcement</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vacations
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'panel:vacat_form' %}">Send Request</a></li>
            <li><a href="{% url 'panel:vac_now' %}">Now on vacations</a></li>
            {% if request.user|has_group:"hi_user" %}
            <li><a href="{% url 'panel:vac_query' %}">Manage Requests</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Item management</li>
            {% if request.user|has_group:"hi_user" %}
            <li><a href="{% url 'inventory:new_item' %}">Add new item</a></li>
            <li><a href="{% url 'inventory:add_to_section' %}">Assign item to section</a></li>
            {% endif %}
            <li><a href="{% url 'inventory:simple_search' %}">Show items</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Stocktaking management</li>
            {% if request.user|has_group:"hi_user" %}
            <li><a href="{% url 'stocktaking:browse_stocktakings' %}">Browse stocktakings</a></li>
            {% endif %}
            <li><a href="{% url 'stocktaking:stock_section' %}">Stocktaking form</a></li>
          </ul>
        </li>

        <li class="dropdown">
        {% if request.user|has_group:"hi_user" %}
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
            <span class="caret"></span></a>
        {% endif %}
          <ul class="dropdown-menu">
            <li><a href="{% url 'users:register' %}">Add new user</a></li>
            <li><a href="{% url 'users:assign_user' %}">User assignation</a></li>
          </ul>
        </li>
        <li><a href="{% url 'users:logout' %}">Log out</a></li>
      {% else %}
        <li><a href="{% url 'users:login' %}">Log in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  <div class="panel panel-default">
      {% block header %}{% endblock header %}

      {% block content %}{% endblock content %}
  </div>
</div>
</body>
</html>


