<!DOCTYPE html>
{% extends "panel/base.html" %}
{% block content %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add manufacturer</title>
</head>
<body>
<div class="col-sm-3">
    <h3>Add new manufacturer</h3>
    <form action="{% url 'inventory:add_manufacturer' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Add</button>
        {% endbuttons %}
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
{% endblock content %}
</html>