{% extends "panel/base.html" %}
{% load bootstrap3 %}

{% block header %}
<h2>Assign to section</h2>
{% endblock header %}

{% block content %}
<div class="col-sm-6">
    <form action="{% url 'inventory:add_to_section' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <label>Item</label>
        <br>
        {{ form.item }}
        {{ form.quantity }}
        <br>
        <label>Section</label>
        <br>
        {{ form.section }}
        <a href="{% url 'inventory:new_section'%}">add section</a>
        {% buttons %}
        <button name="submit" class="btn btn-primary">Allocate</button>
        {% endbuttons %}
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
