<!DOCTYPE html>
{% extends "panel/base.html" %}
{% block content %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-6">
<h3>Add new item</h3>

<form action="{% url 'inventory:add_to_section' %}" method="post" enctype="multipart/form-data" >

    {% csrf_token %}
    <label>Item</label>
    <br>
    {{ form.item }}
    {{ form.quantity }}
    <br>
    <label>Section</label>
    <br>
    {{ form.section }}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Allocate</button>
    {% endbuttons %}
</form>
    {{ text }}
</div>

</body>
{% endblock content %}
</html>