{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <h2>Add new item</h2>
{% endblock header %}

{% block content %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/category_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/manufacturer_select.js' %}", function() {
    });
    </script>
</head>

<form action="{% url 'inventory:new_item' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Item name:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                    {% bootstrap_field form.name %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Categories:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                    <select class="form-control" id="category_select" name="category"></select>
                </div>
                <a href="{% url 'inventory:add_category'%}">add category</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
                <div class="form-group">
                    <label>Manufacturer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        <select class="form-control" id="manufacturer_select" name="manufacturer"></select>
                    </div>
                    <a href="{% url 'inventory:add_manufacturer'%}">add manufacturer</a>
                </div>

        </div>
    </div>
        {% buttons %}
        <button name="submit" class="btn btn-primary">Add new item</button>
        {% endbuttons %}

</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}