<!DOCTYPE html>
{% extends "panel/base.html" %}
{% block content %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new section</title>
</head>
<body>
<div class="col-sm-3">
    <h3>Add new section</h3>
    <form action="{% url 'inventory:new_section' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Add</button>
        {% endbuttons %}
        {{ text }}
    </form>
</div>
</body>
{% endblock content %}
</html>