{% extends "panel/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add new item</h2>
{% endblock header %}

{% block content %}

<form action="{% url 'inventory:new_item' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Item name:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                    {% bootstrap_field form.name %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Category:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                    {% bootstrap_field form.category %}
                </div>
                <a href="{% url 'inventory:add_category'%}">add category</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
                <div class="form-group">
                    <label>Manufacturer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        {% bootstrap_field form.manufacturer %}
                    </div>
                    <a href="{% url 'inventory:add_manufacturer'%}">add manufacturer</a>
                </div>

        </div>
    </div>
        {% buttons %}
        <button name="submit" class="btn btn-primary">Add new item</button>
        {% endbuttons %}

</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}