{% extends "panel/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add new section</h2>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <form action="{% url 'inventory:new_section' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>New section:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
                    {% bootstrap_field form.name %}
                </div>
            </div>
            {% buttons %}
            <button name="submit" class="btn btn-primary">Add</button>
            {% endbuttons %}
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}
