<!DOCTYPE html>
{% extends "panel/base.html" %}
{% block content %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-3">
<h3>Add new item</h3>
<form action="{% url 'inventory:new_item' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Item name:</h4>
    {{ form.name }}
    <h4>Category:</h4>
    {{ form.category }}
    <a href="{% url 'inventory:add_category'%}">add category</a>
    <h4>Manufacturer:</h4>
    {{ form.manufacturer }}
    <a href="{% url 'inventory:add_manufacturer'%}">add manufacturer</a>
    {% buttons %}
    <button name="submit" class="btn btn-primary">Add new item</button>
    {% endbuttons %}
    {{ text }}
</form>
</div>
</body>
{% endblock content %}
</html>