{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <h2>Advanced search</h2>
{% endblock header %}

{% block content %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/item_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/category_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/manufacturer_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/section_select.js' %}", function() {
    });
    </script>
</head>
<h3>Select Filter</h3>
<form action="{% url 'inventory:show_items_adv' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Item:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
                    <select class="form-control" id="item_select" name="item">
                        <option>all</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Manufacturer:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
                    <select class="form-control" id="manufacturer_select" name="manufacturer">
                        <option>all</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Categories:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                    <select class="form-control" id="category_select" name="category" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Sections:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
                    <select class="form-control" id="section_select" name="section" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>
    {% buttons %}
    <button name="submit" class="btn btn-primary">Search</button>
    {% endbuttons %}
</form>
<div class="row">
    <div class="col-sm-12">
        <h2>Results:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>nr</th>
                <th>name</th>
                <th>manufacturer</th>
                <th>section</th>
                <th>category</th>
                <th>quantity</th>
                <th>added by</th>
                <th>add date</th>
            </tr>
            </thead>
            <tbody>
            {% for found, category in found_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ found.item.name }}</td>
                <td>{{ found.item.manufacturer }}</td>
                <td>{{ found.section }}</td>
                <td>{% for cat in category %}{{ cat }}<br>{% endfor %}</td>
                <td>{{ found.quantity }}</td>
                <td>{{ found.user }}</td>
                <td>{{ found.date_added }}</td>
                {% empty %}
                No search results.
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}