{% extends "base.html" %}
{% load bootstrap3 %}
{% load auth_extras %}
{% load static %}

{% block header %}
    <h2>Search items</h2>
{% endblock header %}

{% block content %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/item_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/section_select.js' %}", function() {
    });
    </script>
    <script type="text/javascript">
    $.getScript( "{% static 'js/manufacturer_select.js' %}", function() {
    });
    </script>
</head>
<div class="row">
    <div class="col-sm-3">
        <h3>Select Filter</h3>
        <form class="form-vertical" action="{% url 'inventory:simple_search' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Item name:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                    <select class="form-control" id="item_select" name="item">
                        <option>all</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Manufacturer:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                    <select class="form-control" id="manufacturer_select" name="manufacturer">
                        <option>all</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Section(required):</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
                    <select class="form-control" id="section_select" name="section"></select>
                </div>
                {% if request.user|has_group:"hi_user" %}
                <a href="{% url 'inventory:show_items_adv' %}">Advanced search view</a>
                {% endif %}
            </div>
            {% buttons %}
            <button name="submit" class="btn btn-primary">Search</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-sm-5">
        <h3>Results</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>nr</th>
                <th>name</th>
                <th>manufacturer</th>
                <th>quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.item__name }}</td>
                <td>{{ result.item__manufacturer__name }}</td>
                <td>{{ result.quantity_sum }}</td>
                {% empty %}
                No search results.
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}