{% extends "panel/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Browse stocktaking forms</h2>
{% endblock header %}

{% block content %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
      } );
    </script>
</head>


<div class="col-sm-3">
    <form action="{% url 'stocktaking:browse_stocktakings' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_form form %}
        </div>
        {% buttons %}
        <button name="submit" class="btn btn-primary">Search</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}