
{% extends "panel/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Assign user to section</h2>
{% endblock header %}
{% block content %}
<div class="col-sm-3">
    <form action="{% url 'users:assign_user' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Assign</button>
        {% endbuttons %}
        {{ text }}
    </form>
</div>
{% endblock content %}
