<!DOCTYPE html>
{% extends "panel/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now on vacation</title>
</head>
<body>
<div class="col-sm-5">
<h2>Currently on vacations:</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>user</th>
        <th>return in</th>
        <th>return date</th>
    </tr>
    </thead>
    <tbody>
    {% for query, days in lists %}
    <tr>
        <td>{{ query.user }}</td>
        <td>{{ days }}</td>
        <td>{{ query.end_date }}</td>
        {% empty %}
        Currently no one is on vacation.
        {% endfor %}
    </tr>


</table>
</div>
</body>
{% endblock content %}
</html>